<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.business.product.infrastructure.mapper.BondProductMapper">
    
    <insert id="insert" parameterType="com.example.demo.business.product.app.dto.response.BondProductDTO">
        INSERT INTO BOND_PRODUCT (
            PRODUCT_ID,
            FDM_PRODUCT_CODE,
            BOND_CODE,
            BOND_AUTH,
            SALE_AREA,
            SELLABL_CUST_TYPE,
            SELLABL_CUST_RISK_LEVEL,
            PLEDGEABLE_SIGN,
            REISSUE_FLAG,
            REISSUE_INCOME_RATE,
            RECOMMEND_FLAG,
            QUOTA_MODE,
            BID_SPREAD,
            ASK_SPREAD,
            UP_LIMIT_HOLDING,
            DOWN_LIMIT_HOLDING
        ) VALUES (
            #{productId},
            #{fdmProductCode},
            #{bondDTO.bondCode},
            #{bondAuth},
            #{saleArea},
            #{sellableCustomerType},
            #{sellableCustomerRiskLevel},
            #{pledgeableSign},
            #{reissueFlag},
            #{reissueIncomeRate},
            #{recommendFlag},
            #{quotaMode},
            #{bidSpread},
            #{askSpread},
            #{upperLimitHolding},
            #{lowerLimitHolding}
        )
    </insert>
    
    <update id="update" parameterType="com.example.demo.business.product.app.dto.response.BondProductDTO">
        UPDATE BOND_PRODUCT
        SET 
            FDM_PRODUCT_CODE = #{fdmProductCode},
            BOND_CODE = #{bondDTO.bondCode},
            BOND_AUTH = #{bondAuth},
            SALE_AREA = #{saleArea},
            SELLABL_CUST_TYPE = #{sellableCustomerType},
            SELLABL_CUST_RISK_LEVEL = #{sellableCustomerRiskLevel},
            PLEDGEABLE_SIGN = #{pledgeableSign},
            REISSUE_FLAG = #{reissueFlag},
            REISSUE_INCOME_RATE = #{reissueIncomeRate},
            RECOMMEND_FLAG = #{recommendFlag},
            QUOTA_MODE = #{quotaMode},
            BID_SPREAD = #{bidSpread},
            ASK_SPREAD = #{askSpread},
            UP_LIMIT_HOLDING = #{upperLimitHolding},
            DOWN_LIMIT_HOLDING = #{lowerLimitHolding}
        WHERE PRODUCT_ID = #{productId}
    </update>
    
    <select id="selectById" resultType="com.example.demo.business.product.app.dto.response.BondProductDTO">
        SELECT 
            bp.PRODUCT_ID as productId,
            bp.FDM_PRODUCT_CODE as fdmProductCode,
            bp.BOND_CODE as "bondDTO.bondCode",
            bp.BOND_AUTH as bondAuth,
            bp.SALE_AREA as saleArea,
            bp.SELLABL_CUST_TYPE as sellableCustomerType,
            bp.SELLABL_CUST_RISK_LEVEL as sellableCustomerRiskLevel,
            bp.PLEDGEABLE_SIGN as pledgeableSign,
            bp.REISSUE_FLAG as reissueFlag,
            bp.REISSUE_INCOME_RATE as reissueIncomeRate,
            bp.RECOMMEND_FLAG as recommendFlag,
            bp.QUOTA_MODE as quotaMode,
            bp.BID_SPREAD as bidSpread,
            bp.ASK_SPREAD as askSpread,
            bp.UP_LIMIT_HOLDING as upperLimitHolding,
            bp.DOWN_LIMIT_HOLDING as lowerLimitHolding,
            b.SHORT_NAME as "bondDTO.shortName",
            b.VARIETY as "bondDTO.bondVariety",
            b.BOND_TERM as "bondDTO.bondTerm",
            b.BOND_TERM_COMP as "bondDTO.bondTermUnit",
            b.CURR_PRINCIPAL_VAL as "bondDTO.currentPrincipalValue",
            b.COUPON_RATE as "bondDTO.coupon",
            b.CURRENCY as "bondDTO.currency",
            b.ISSUE_PRICE as "bondDTO.issuePrice",
            b.ALTERTRUST_STOP_DAY_CNT as "bondDTO.transferPauseDayBeforeCash",
            b.MATURE_DATE as "bondDTO.matureDate",
            b.DIST_END_DATE as "bondDTO.issueEndDate",
            b.LISTING_DATE as "bondDTO.listingDate",
            b.START_INT_DATE as "bondDTO.accrualDate",
            b.ISSUE_DATE as "bondDTO.issueDate",
            b.ACCRUAL_BASE as "bondDTO.accrualBase",
            b.ACCRUAL_METHOD as "bondDTO.accrualMethod",
            b.PAR_VALUE as "bondDTO.parValue",
            b.CUSTODY_ORG as "bondDTO.custodyOrg",
            b.BOND_STATUS as "bondDTO.bondStatus",
            b.APPEND_NUM as "bondDTO.addTimes",
            b.BOND_SUSPEND_STATUS as "bondDTO.bondPauseStatus",
            b.CLAIM_DEBT_RGST_DT as "bondDTO.bondRegistrationDate",
            b.PRINCIPAL_VAL_EFFECT_DT as "bondDTO.principalValueEffectiveDate",
            b.FIRST_INT_PAY_DT as "bondDTO.firstInterestPaymentDate",
            b.INT_PAY_FREQ_MONTH as "bondDTO.interestPaymentCycle",
            b.CURR_BOND_PAY_DT as "bondDTO.interestPaymentDate",
            b.DIST_START_DATE as "bondDTO.distStartDate",
            b.RECORD_DATE as "bondDTO.cutoffTransferDate"
        FROM BOND_PRODUCT bp
        LEFT JOIN BOND b ON bp.BOND_CODE = b.BOND_CODE
        WHERE bp.PRODUCT_ID = #{id}
    </select>

    <select id="selectAll" resultType="com.example.demo.business.product.app.dto.response.BondProductDTO">
        SELECT 
        bp.PRODUCT_ID as productId,
        bp.FDM_PRODUCT_CODE as fdmProductCode,
        bp.BOND_CODE as "bondDTO.bondCode",
        bp.BOND_AUTH as bondAuth,
        bp.SALE_AREA as saleArea,
        bp.SELLABL_CUST_TYPE as sellableCustomerType,
        bp.SELLABL_CUST_RISK_LEVEL as sellableCustomerRiskLevel,
        bp.PLEDGEABLE_SIGN as pledgeableSign,
        bp.REISSUE_FLAG as reissueFlag,
        bp.REISSUE_INCOME_RATE as reissueIncomeRate,
        bp.RECOMMEND_FLAG as recommendFlag,
        bp.QUOTA_MODE as quotaMode,
        bp.BID_SPREAD as bidSpread,
        bp.ASK_SPREAD as askSpread,
        bp.UP_LIMIT_HOLDING as upperLimitHolding,
        bp.DOWN_LIMIT_HOLDING as lowerLimitHolding,
        b.SHORT_NAME as "bondDTO.shortName",
        b.VARIETY as "bondDTO.bondVariety",
        b.BOND_TERM as "bondDTO.bondTerm",
        b.BOND_TERM_COMP as "bondDTO.bondTermUnit",
        b.COUPON_RATE as "bondDTO.coupon",
        b.CURRENCY as "bondDTO.currency",
        b.ISSUE_PRICE as "bondDTO.issuePrice",
        b.ALTERTRUST_STOP_DAY_CNT as "bondDTO.transferPauseDayBeforeCash",
        b.MATURE_DATE as "bondDTO.matureDate",
        b.DIST_END_DATE as "bondDTO.issueEndDate",
        b.LISTING_DATE as "bondDTO.listingDate",
        b.START_INT_DATE as "bondDTO.accrualDate",
        b.ISSUE_DATE as "bondDTO.issueDate",
        b.ACCRUAL_BASE as "bondDTO.accrualBase",
        b.ACCRUAL_METHOD as "bondDTO.accrualMethod",
        b.PAR_VALUE as "bondDTO.parValue",
        b.CUSTODY_ORG as "bondDTO.custodyOrg",
        b.BOND_STATUS as "bondDTO.bondStatus",
        b.APPEND_NUM as "bondDTO.addTimes",
        b.CURR_PRINCIPAL_VAL as "bondDTO.currentPrincipalValue",
        b.BOND_SUSPEND_STATUS as "bondDTO.bondPauseStatus",
        b.CLAIM_DEBT_RGST_DT as "bondDTO.bondRegistrationDate",
        b.PRINCIPAL_VAL_EFFECT_DT as "bondDTO.principalValueEffectiveDate",
        b.FIRST_INT_PAY_DT as "bondDTO.firstInterestPaymentDate",
        b.INT_PAY_FREQ_MONTH as "bondDTO.interestPaymentCycle",
        b.CURR_BOND_PAY_DT as "bondDTO.interestPaymentDate",
        b.DIST_START_DATE as "bondDTO.distStartDate",
        b.RECORD_DATE as "bondDTO.cutoffTransferDate"
        FROM BOND_PRODUCT bp
        LEFT JOIN BOND b ON bp.BOND_CODE = b.BOND_CODE
    </select>
    
    <insert id="insertBond" parameterType="com.example.demo.business.product.app.dto.response.BondDTO">
        INSERT INTO BOND (
            BOND_CODE,
            SHORT_NAME,
            VARIETY,
            BOND_TERM,
            BOND_TERM_COMP,
            COUPON_RATE,
            CURRENCY,
            ISSUE_PRICE,
            ALTERTRUST_STOP_DAY_CNT,
            MATURE_DATE,
            DIST_END_DATE,
            LISTING_DATE,
            START_INT_DATE,
            ISSUE_DATE,
            ACCRUAL_BASE,
            ACCRUAL_METHOD,
            PAR_VALUE,
            CUSTODY_ORG,
            BOND_STATUS,
            APPEND_NUM,
            BOND_SUSPEND_STATUS,
            CLAIM_DEBT_RGST_DT,
            PRINCIPAL_VAL_EFFECT_DT,
            FIRST_INT_PAY_DT,
            INT_PAY_FREQ_MONTH,
            CURR_BOND_PAY_DT,
            DIST_START_DATE,
            RECORD_DATE
        ) VALUES (
            #{bondCode},
            #{shortName},
            #{bondVariety},
            #{bondTerm},
            #{bondTermUnit},
            #{coupon},
            #{currency},
            #{issuePrice},
            #{transferPauseDayBeforeCash},
            #{matureDate},
            #{issueEndDate},
            #{listingDate},
            #{accrualDate},
            #{issueDate},
            #{accrualBase},
            #{accrualMethod},
            #{parValue},
            #{custodyOrg},
            #{bondStatus},
            #{addTimes},
            #{bondPauseStatus},
            #{bondRegistrationDate},
            #{principalValueEffectiveDate},
            #{firstInterestPaymentDate},
            #{interestPaymentCycle},
            #{interestPaymentDate},
            #{distStartDate},
            #{cutoffTransferDate}
        ) ON DUPLICATE KEY UPDATE
            SHORT_NAME = VALUES(SHORT_NAME),
            VARIETY = VALUES(VARIETY),
            BOND_TERM = VALUES(BOND_TERM),
            BOND_TERM_COMP = VALUES(BOND_TERM_COMP),
            COUPON_RATE = VALUES(COUPON_RATE),
            CURRENCY = VALUES(CURRENCY),
            ISSUE_PRICE = VALUES(ISSUE_PRICE),
            ALTERTRUST_STOP_DAY_CNT = VALUES(ALTERTRUST_STOP_DAY_CNT),
            MATURE_DATE = VALUES(MATURE_DATE),
            DIST_END_DATE = VALUES(DIST_END_DATE),
            LISTING_DATE = VALUES(LISTING_DATE),
            START_INT_DATE = VALUES(START_INT_DATE),
            ISSUE_DATE = VALUES(ISSUE_DATE),
            ACCRUAL_BASE = VALUES(ACCRUAL_BASE),
            ACCRUAL_METHOD = VALUES(ACCRUAL_METHOD),
            PAR_VALUE = VALUES(PAR_VALUE),
            CUSTODY_ORG = VALUES(CUSTODY_ORG),
            BOND_STATUS = VALUES(BOND_STATUS),
            APPEND_NUM = VALUES(APPEND_NUM),
            BOND_SUSPEND_STATUS = VALUES(BOND_SUSPEND_STATUS),
            CLAIM_DEBT_RGST_DT = VALUES(CLAIM_DEBT_RGST_DT),
            PRINCIPAL_VAL_EFFECT_DT = VALUES(PRINCIPAL_VAL_EFFECT_DT),
            FIRST_INT_PAY_DT = VALUES(FIRST_INT_PAY_DT),
            INT_PAY_FREQ_MONTH = VALUES(INT_PAY_FREQ_MONTH),
            CURR_BOND_PAY_DT = VALUES(CURR_BOND_PAY_DT),
            DIST_START_DATE = VALUES(DIST_START_DATE),
            RECORD_DATE = VALUES(RECORD_DATE)
    </insert>

    <update id="updateBond" parameterType="com.example.demo.business.product.app.dto.response.BondDTO">
        UPDATE BOND
        SET 
            SHORT_NAME = #{shortName},
            VARIETY = #{bondVariety},
            BOND_TERM = #{bondTerm},
            BOND_TERM_COMP = #{bondTermUnit},
            COUPON_RATE = #{coupon},
            CURRENCY = #{currency},
            ISSUE_PRICE = #{issuePrice},
            ALTERTRUST_STOP_DAY_CNT = #{transferPauseDayBeforeCash},
            MATURE_DATE = #{matureDate},
            DIST_END_DATE = #{issueEndDate},
            LISTING_DATE = #{listingDate},
            START_INT_DATE = #{accrualDate},
            ISSUE_DATE = #{issueDate},
            ACCRUAL_BASE = #{accrualBase},
            ACCRUAL_METHOD = #{accrualMethod},
            PAR_VALUE = #{parValue},
            CUSTODY_ORG = #{custodyOrg},
            BOND_STATUS = #{bondStatus},
            APPEND_NUM = #{addTimes},
            BOND_SUSPEND_STATUS = #{bondPauseStatus},
            CLAIM_DEBT_RGST_DT = #{bondRegistrationDate},
            PRINCIPAL_VAL_EFFECT_DT = #{principalValueEffectiveDate},
            FIRST_INT_PAY_DT = #{firstInterestPaymentDate},
            INT_PAY_FREQ_MONTH = #{interestPaymentCycle},
            CURR_BOND_PAY_DT = #{interestPaymentDate},
            DIST_START_DATE = #{distStartDate},
            RECORD_DATE = #{cutoffTransferDate}
        WHERE BOND_CODE = #{bondCode}
    </update>

    <select id="selectBondByBondCode" resultType="com.example.demo.business.product.app.dto.response.BondDTO">
        SELECT 
            BOND_CODE as bondCode,
            SHORT_NAME as shortName,
            VARIETY as bondVariety,
            BOND_TERM as bondTerm,
            BOND_TERM_COMP as bondTermUnit,
            COUPON_RATE as coupon,
            CURRENCY as currency,
            ISSUE_PRICE as issuePrice,
            ALTERTRUST_STOP_DAY_CNT as transferPauseDayBeforeCash,
            MATURE_DATE as matureDate,
            DIST_END_DATE as issueEndDate,
            LISTING_DATE as listingDate,
            START_INT_DATE as accrualDate,
            ISSUE_DATE as issueDate,
            ACCRUAL_BASE as accrualBase,
            ACCRUAL_METHOD as accrualMethod,
            PAR_VALUE as parValue,
            CUSTODY_ORG as custodyOrg,
            BOND_STATUS as bondStatus,
            APPEND_NUM as addTimes,
            BOND_SUSPEND_STATUS as bondPauseStatus,
            CLAIM_DEBT_RGST_DT as bondRegistrationDate,
            PRINCIPAL_VAL_EFFECT_DT as principalValueEffectiveDate,
            FIRST_INT_PAY_DT as firstInterestPaymentDate,
            INT_PAY_FREQ_MONTH as interestPaymentCycle,
            CURR_BOND_PAY_DT as interestPaymentDate,
            DIST_START_DATE as distStartDate,
            RECORD_DATE as cutoffTransferDate
        FROM BOND
        WHERE BOND_CODE = #{bondCode}
    </select>

    <select id="selectAllBonds" resultType="com.example.demo.business.product.app.dto.response.BondDTO">
        SELECT 
            BOND_CODE as bondCode,
            SHORT_NAME as shortName,
            VARIETY as bondVariety,
            BOND_TERM as bondTerm,
            BOND_TERM_COMP as bondTermUnit,
            COUPON_RATE as coupon,
            CURRENCY as currency,
            ISSUE_PRICE as issuePrice,
            ALTERTRUST_STOP_DAY_CNT as transferPauseDayBeforeCash,
            MATURE_DATE as matureDate,
            DIST_END_DATE as issueEndDate,
            LISTING_DATE as listingDate,
            START_INT_DATE as accrualDate,
            ISSUE_DATE as issueDate,
            ACCRUAL_BASE as accrualBase,
            ACCRUAL_METHOD as accrualMethod,
            PAR_VALUE as parValue,
            CUSTODY_ORG as custodyOrg,
            BOND_STATUS as bondStatus,
            APPEND_NUM as addTimes,
            BOND_SUSPEND_STATUS as bondPauseStatus,
            CLAIM_DEBT_RGST_DT as bondRegistrationDate,
            PRINCIPAL_VAL_EFFECT_DT as principalValueEffectiveDate,
            FIRST_INT_PAY_DT as firstInterestPaymentDate,
            INT_PAY_FREQ_MONTH as interestPaymentCycle,
            CURR_BOND_PAY_DT as interestPaymentDate,
            DIST_START_DATE as distStartDate,
            RECORD_DATE as cutoffTransferDate
        FROM BOND
    </select>
    
    <select id="selectByCondition" parameterType="com.example.demo.business.product.app.dto.request.ProductQueryVO" resultType="com.example.demo.business.product.app.dto.response.BondProductDTO">
        SELECT 
            bp.PRODUCT_ID as productId,
            bp.FDM_PRODUCT_CODE as fdmProductCode,
            bp.BOND_CODE as "bondDTO.bondCode",
            bp.BOND_AUTH as bondAuth,
            bp.SALE_AREA as saleArea,
            bp.SELLABL_CUST_TYPE as sellableCustomerType,
            bp.SELLABL_CUST_RISK_LEVEL as sellableCustomerRiskLevel,
            bp.PLEDGEABLE_SIGN as pledgeableSign,
            bp.REISSUE_FLAG as reissueFlag,
            bp.REISSUE_INCOME_RATE as reissueIncomeRate,
            bp.RECOMMEND_FLAG as recommendFlag,
            bp.QUOTA_MODE as quotaMode,
            bp.BID_SPREAD as bidSpread,
            bp.ASK_SPREAD as askSpread,
            bp.UP_LIMIT_HOLDING as upperLimitHolding,
            bp.DOWN_LIMIT_HOLDING as lowerLimitHolding,
            b.SHORT_NAME as "bondDTO.shortName",
            b.VARIETY as "bondDTO.bondVariety",
            b.BOND_TERM as "bondDTO.bondTerm",
            b.BOND_TERM_COMP as "bondDTO.bondTermUnit",
            b.COUPON_RATE as "bondDTO.coupon",
            b.CURRENCY as "bondDTO.currency",
            b.ISSUE_PRICE as "bondDTO.issuePrice",
            b.ALTERTRUST_STOP_DAY_CNT as "bondDTO.transferPauseDayBeforeCash",
            b.MATURE_DATE as "bondDTO.matureDate",
            b.DIST_END_DATE as "bondDTO.issueEndDate",
            b.LISTING_DATE as "bondDTO.listingDate",
            b.START_INT_DATE as "bondDTO.accrualDate",
            b.ISSUE_DATE as "bondDTO.issueDate",
            b.ACCRUAL_BASE as "bondDTO.accrualBase",
            b.ACCRUAL_METHOD as "bondDTO.accrualMethod",
            b.PAR_VALUE as "bondDTO.parValue",
            b.CUSTODY_ORG as "bondDTO.custodyOrg",
            b.BOND_STATUS as "bondDTO.bondStatus",
            b.APPEND_NUM as "bondDTO.addTimes",
            b.CURR_PRINCIPAL_VAL as "bondDTO.currentPrincipalValue",
            b.BOND_SUSPEND_STATUS as "bondDTO.bondPauseStatus",
            b.CLAIM_DEBT_RGST_DT as "bondDTO.bondRegistrationDate",
            b.PRINCIPAL_VAL_EFFECT_DT as "bondDTO.principalValueEffectiveDate",
            b.FIRST_INT_PAY_DT as "bondDTO.firstInterestPaymentDate",
            b.INT_PAY_FREQ_MONTH as "bondDTO.interestPaymentCycle",
            b.CURR_BOND_PAY_DT as "bondDTO.interestPaymentDate",
            b.DIST_START_DATE as "bondDTO.distStartDate",
            b.RECORD_DATE as "bondDTO.cutoffTransferDate"
            FROM bond_product bp
            LEFT JOIN bond b ON bp.bond_code = b.bond_code
        <where>
            <if test="productId != null and productId != ''">
                AND bp.PRODUCT_ID = #{productId}
            </if>
            <if test="bondCode != null and bondCode != ''">
                AND b.BOND_CODE = #{bondCode}
            </if>
            <if test="bondName != null and bondName != ''">
                AND b.SHORT_NAME LIKE CONCAT('%', #{bondName}, '%')
            </if>
            <if test="bondVariety != null and bondVariety != ''">
                AND b.VARIETY = #{bondVariety}
            </if>
            <if test="recmdFlag != null and recmdFlag != ''">
                AND bp.RECOMMEND_FLAG = #{recmdFlag}
            </if>
        </where>
    </select>
    
</mapper> 