<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.business.product.mapper.PeOrderMapper">
    
    <resultMap id="BaseResultMap" type="com.example.demo.business.product.domain.entity.PeOrderEntity">
        <result column="TX_TRACE_NUM" property="txTraceNum" />
        <result column="CORE_INT_TRACE_NUM" property="coreIntTraceNum" />
        <result column="TX_ANT" property="txAnt" />
        <result column="PE_SERVICE_NAME" property="peServiceName" />
        <result column="PE_ORDER_NUM" property="peOrderNum" />
        <result column="WRTOFF_STATUS" property="wrtoffStatus" />
        <result column="WRTOFF_COND" property="wrtoffCond" />
        <result column="TX_DT" property="txDt" />
        <result column="WRTOFF_DT" property="wrtoffDt" />
    </resultMap>

    <sql id="Base_Column_List">
        TX_TRACE_NUM, CORE_INT_TRACE_NUM, TX_ANT, PE_SERVICE_NAME, PE_ORDER_NUM,
        WRTOFF_STATUS, WRTOFF_COND, TX_DT, WRTOFF_DT
    </sql>

    <insert id="insert" parameterType="com.example.demo.business.product.domain.entity.PeOrderEntity">
        INSERT INTO PE_ORDER (
            TX_TRACE_NUM, CORE_INT_TRACE_NUM, TX_ANT, PE_SERVICE_NAME, PE_ORDER_NUM,
            WRTOFF_STATUS, WRTOFF_COND, TX_DT, WRTOFF_DT
        ) VALUES (
            #{txTraceNum}, #{coreIntTraceNum}, #{txAnt}, #{peServiceName}, #{peOrderNum},
            #{wrtoffStatus}, #{wrtoffCond}, #{txDt}, #{wrtoffDt}
        )
    </insert>

    <select id="selectByTxTraceNum" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM PE_ORDER
        WHERE TX_TRACE_NUM = #{txTraceNum}
    </select>

    <select id="selectByPeOrderNum" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM PE_ORDER
        WHERE PE_ORDER_NUM = #{peOrderNum}
    </select>

    <update id="update" parameterType="com.example.demo.business.product.domain.entity.PeOrderEntity">
        UPDATE PE_ORDER
        <set>
            <if test="coreIntTraceNum != null">CORE_INT_TRACE_NUM = #{coreIntTraceNum},</if>
            <if test="txAnt != null">TX_ANT = #{txAnt},</if>
            <if test="peServiceName != null">PE_SERVICE_NAME = #{peServiceName},</if>
            <if test="peOrderNum != null">PE_ORDER_NUM = #{peOrderNum},</if>
            <if test="wrtoffStatus != null">WRTOFF_STATUS = #{wrtoffStatus},</if>
            <if test="wrtoffCond != null">WRTOFF_COND = #{wrtoffCond},</if>
            <if test="txDt != null">TX_DT = #{txDt},</if>
            <if test="wrtoffDt != null">WRTOFF_DT = #{wrtoffDt}</if>
        </set>
        WHERE TX_TRACE_NUM = #{txTraceNum}
    </update>
</mapper> 