<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.business.general.infrastructure.mapper.TransactionMapper">
    
    <insert id="insert" parameterType="com.example.demo.business.general.domain.entity.Transaction">
        INSERT INTO TRANSACTION (
            TX_TRACE_NUM,
            INIT_TX_TRACE_NUM,
            CHANNEL_NO,
            TX_INT_ORG_NUM,
            TELLER_NO,
            TRADE_TYPE,
            TRADE_ACC,
            BUSINESS_DATE,
            TRADE_TIME,
            UPDATE_TIME,
            STATUS,
            REMARK
        ) VALUES (
            #{txTraceNum},
            #{initTxTraceNum},
            #{channelNo},
            #{txIntOrgNum},
            #{tellerNo},
            #{tradeType},
            #{tradeAcc},
            #{businessDate},
            #{tradeTime},
            #{updateTime},
            #{status},
            #{remark}
        )
    </insert>
    
    <select id="selectByTraceNum" resultType="com.example.demo.business.general.domain.entity.Transaction">
        SELECT 
            ID as id,
            TX_TRACE_NUM as txTraceNum,
            INIT_TX_TRACE_NUM as initTxTraceNum,
            CHANNEL_NO as channelNo,
            TX_INT_ORG_NUM as txIntOrgNum,
            TELLER_NO as tellerNo,
            TRADE_TYPE as tradeType,
            TRADE_ACC as tradeAcc,
            BUSINESS_DATE as businessDate,
            TRADE_TIME as tradeTime,
            UPDATE_TIME as updateTime,
            STATUS as status,
            REMARK as remark
        FROM TRANSACTION 
        WHERE TX_TRACE_NUM = #{txTraceNum}
    </select>
    
    <update id="updateStatus">
        UPDATE TRANSACTION 
        SET STATUS = #{status},
            UPDATE_TIME = CURRENT_TIMESTAMP
        WHERE TX_TRACE_NUM = #{txTraceNum}
    </update>
</mapper>