<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BondRegistMapper">

  <insert id="insertBondRegist" parameterType="com.example.demo.model.bondmanage.BondRegistInfo">
    INSERT INTO bond_regist (bond_id, fullname, shortname, category, total_quota, issuer, duration, sale_type,
                            clear_meth, sale_start_date, sale_end_date, value_date, early_cash_date, early_cash_int_date,
                            end_date, intrst_meth, intrst_pay_meth, intrst_pay_frequency, intrst_deduct_interval,
                            release_status, wf_status, handle_status)
    VALUES (#{bondRegistInfo.bond.bondId}, #{bondRegistInfo.bond.fullname}, #{bondRegistInfo.bond.shortname},
            #{bondRegistInfo.bond.category}, #{bondRegistInfo.bond.totalQuota}, #{bondRegistInfo.bond.issuer},
            #{bondRegistInfo.bond.duration}, #{bondRegistInfo.bond.saleType}, #{bondRegistInfo.bond.clearMeth},
            #{bondRegistInfo.date.saleStartDate}, #{bondRegistInfo.date.saleEndDate},
            #{bondRegistInfo.date.valueDate}, #{bondRegistInfo.date.earlyCashDate},
            #{bondRegistInfo.date.earlyCashIntDate}, #{bondRegistInfo.date.endDate},
            #{bondRegistInfo.interest.intrstMeth}, #{bondRegistInfo.interest.intrstPayMeth},
            #{bondRegistInfo.interest.intrstPayFrequency},
            #{bondRegistInfo.interest.intrstDeductInterval, typeHandler=com.example.util.JsonTypeHandler},
            #{bondRegistInfo.releaseStatus}, "" , 0)
  </insert>

  <update id="updateHandleAndWFStatus">
    UPDATE BondRegist
    SET handle_status = #{handleStatus}, wf_status = #{wfStatus}
    WHERE bond_id = #{bondId}
  </update>

</mapper>
